@page {
    size: A4 landscape;
    margin: 0;
}

@page :left {
    margin-left: 3cm;
}
  
@page :right {
    margin-left: 4cm;
}

* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0px;
}
  
#btn-print {
    display: none;
    visibility: none;
}